services:
  api:
    build: .
    container_name: sirecovip_api
    ports:
      - "3000:3000"
    volumes:
      - ./src:/app/src # Hot-reload: cambios en local se reflejan en el container
      - /app/node_modules
    env_file:
      - .env
    environment:
      - NODE_ENV=development
    restart: unless-stopped
